{% extends 'admin/layout/card.html.twig' %}

  {% block title %}
      {{ icon('pen') }}
      Gestion des Users
  {% endblock %}
{% block content %}
    <div class="flex">
        <form class="form-group dashboard-search">
            <input name="q" type="text" placeholder="Rechercher un Utilisateur" value="{{ app.request.get('q') }}" >
        </form>

        {#
        {% if is_granted('ROLE_MANAGE') %}
            <a href="{{ path(prefix ~ '_edit') }}" class="dashboard-btn">Ajoutée une Category</a>
        {% endif %}
        #}

    </div>
    <table class="table">
        <thead>
        <tr>
            <th>{{ sort_by(rows, 'ID', 'row.id') }}</th>
           <th> {{ sort_by(rows, 'Username', 'row.username') }}</th>
            <th>Email</th>
            <th class="text-center">{{ sort_by(rows, 'Status', 'row.term') }}</th>
            <th class="text-right">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for row in rows %}
            {% set link = path(prefix ~ '_edit', {id: row.id}) %}
            <tr>
                <td class="dashboard-id">
                    <a href="{{ link }}">{{ row.id }}</a>
                </td>
                <td>
                    <a href="{{ link }}">{{ row.username }}</a>
                </td>
                <td>
                    <a href="{{ link }}">{{ row.email }}</a>
                </td>
                <td><span class="bullet {% if row.term == false %}bullet--danger{% endif %}"></span></td>
                <td>
                    <div class="dashboard-actions">
                            <a href="{{ link }}">{{ icon('edit') }}</a>
                            <a href="http://localhost:8000/?_switch_user={{ row.username }}">{{ icon('user') }}</a>
                         {% if is_granted('ROLE_MANAGE') %}

                            <form action="{{ path(prefix ~ '_edit', {id: row.id}) }}" method="post" onsubmit="return confirm('Voulez vous vraiment supprimer ce contenu')">
                                <input type="hidden" name="_method" value="DELETE" />
                                <button type="submit">
                                    {{ icon('delete') }}
                                </button>
                            </form>
                        {% endif %}

                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ paginate(rows) }}
{% endblock %}

