{% extends 'base.html.twig' %}

{% block title %}ForumForums{% endblock %}

{% block body %}
    <h1>ForumForums</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ forum_forum.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ forum_forum.title }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ forum_forum.description }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('forums_forum_forums_index') }}">back to list</a>

    <a href="{{ path('forums_forum_forums_edit', {'id': forum_forum.id}) }}">edit</a>

    {{ include('forums_forum_forums/_delete_form.html.twig') }}
{% endblock %}
