{% for content in contents %}
    <div class="blog-single">

        <div class="blog-single__body formatted ">
            <div class="blog-post__title"> {{ content.title }}</div>
            <div class="blog-post__meta">
                {% if content.author == null %} Inconue {% else %}
                    {{ content.author.username }} {% endif %} - Posté le
                {{ content.createdAt | date('j F Y') }}
                dans {% if content.author == null %} Inconue {% else %} {# content.category.title  #}{% endif %}</div>
            {{ content.content | markdown }}
        </div>
    </div>
{% endfor %}
</div>
{{ knp_pagination_render(contents) }}