<nav class="header">
    <ul class="header__nav">
        <li class="header__home"><a href="{{ path('admin_dashboard') }}">{{ icon('home') }}</a></li>
        <li><a href="{{path('content_index')}}">{{ icon('video') }}Content</a></li>
        <li><a href="{{path('user_index') }}">{{ icon('video') }}Users</a></li>
        <li><a href="{{ path('category_index') }}">{{ icon('video') }}Category</a></li>
        <li><a href="#">{{ icon('video') }}A Propos</a></li>
        {% if app.user %}
            <li class="header__account"><a href="{{ path('app_logout') }}">{{ icon('user') }} {{ app.user.username }}</a>
            </li>
        {% else %}
            <li class="header__account"><a href="{{ path('app_login') }}">{{ icon('user') }} Se connecter</a></li>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <li><a href="{{ path('admin_dashboard') }}">Admin</a></li>
        {% endif %}
    </ul>
</nav>