<nav class="header {% if headerWhite is defined %}is-white{% endif %}">
    <ul class="header-nav">
        <li class="header__home"><a href="#" title="Accueil">{{ icon('home') }}</a></li>
        <li><a href="#">{{ icon('pen') }} Blog</a></li>
        <li><a href="#" {{ menu_active('category') }}>{{ icon('lines') }} Category</a></li>
        <li><a href="#" {{ menu_active('forum-tag') }}>{{ icon('comment') }} Forum</a></li>
    </ul>
    <ul class="header-side">
        <li class="header__search"><a href="#">{{ icon('search') }}</a></li>
        {% if app.user %}
            <li class="header__account"><a
                        href="{{ path('app_logout') }}">{{ icon('user') }} {{ app.user.username }}</a></li>
        {% else %}
            <li class="header__account"><a href="{{ path('app_login') }}">{{ icon('user') }} Se connecter</a></li>
        {% endif %}
    </ul>
</nav>