{% extends "admin/layout/card.html.twig" %}

{% block body %}
    <h1 class="dashboard-title">
        {{ icon('clock') }} Dashboard
    </h1>
    <div class="flex">
    {% if is_granted('ROLE_ADMIN') %}
        <li><a href="{{ path('home') }}">Retour au site</a></li>
    {% endif %}
    <div class="count_bar">
        <div class="count__category inline__count">

            <a href="{{ path('admin_blog_index') }}"> <span>Category</span>{{ count }}</a>


        </div>
        <div class="count__category inline__count">

            <a href="{{ path('admin_blog_index') }}"> <span>Content</span>{{ countContent }}</a>


        </div>

    </div>

    {% if is_granted('ROLE_SUPERADMIN') %}
        <li><a href="{{ path('superadmin_index') }}">Gestion SuperAdmin</a></li>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        {% if count2  >  0 %}
            <div class="contentToApprouve">
                <div class="title_approuve">
                    <h3>Contenue a Approuvée -<span> {{ count2 }}</span></h3>
                </div>
                <ul>

                    {% for approuve in approuves %}

                        <li>{{ approuve.id }} -
                            {{ approuve.title | excerpt(17) }} -
                            <a href="{{ path('admin_blog_edit', {slug: approuve.slug, id: approuve.id}) }}">{{ icon('edit') }}</a>

                        </li>

                    {% endfor %}
                </ul>
                <a href="#">Voir</a>
            </div>
            </div>
        {% endif %}

    {% endif %}


{% endblock %}