{{ form_start(form, {attr: {class: 'stacked'}}) }}
<div class="grid">
    <div class="full">
    {{ form_row(form.title) }}
    </div>
    {{ form_row(form.slug) }}
    {{ form_row(form.category) }}

    {{ form_row(form.publishAt) }}

    {{ form_row(form.published, {row_attr: {style: 'align-self: flex-end'}}) }}
</div>
    <div class="grid" style="padding-top: 16px">

        {{ form_row(form.content, {label: false}) }}
    <div class="full">
        <button type="submit" class="btn-gradient">Sauvegarder</button>
    </div>
</div>
{{ form_end(form) }}

