{{ form_start(form, {attr: {class: 'stacked'}}) }}
<div class="grid">
    {{ form_row(form.title) }}
    {{ form_row(form.category) }}
    {{ form_row(form.publishAt) }}

        {{ form_row(form.author) }}
        {{ form_row(form.source) }}
        {{ form_row(form.deprecated) }}
        {{ form_row(form.Info) }}
    {{ form_row(form.online, {row_attr: {style: 'align-self: flex-end'}}) }}
</div>
    <div class="grid" style="padding-top: 16px">

        {{ form_row(form.content, {label: false}) }}
    <div class="full">
        <button type="submit" class="btn-gradient">Sauvegarder</button>
    </div>
</div>
{{ form_end(form) }}

