{% extends 'admin/layout/card.html.twig' %}

  {% block title %}
      {{ icon('pen') }}
      Gestion du blog
  {% endblock %}
{% block content %}
    <div class="flex">
        <form class="form-group dashboard-search">
            <input name="q" type="text" placeholder="Rechercher un article" value="{{ app.request.get('q') }}" >
        </form>

        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path(prefix ~ '_new') }}" class="dashboard-btn">Ajoutée un article</a>
        {% endif %}


    </div>
    <table class="table">
        <thead>
        <tr>
            <th>{{ sort_by(rows, 'ID', 'row.id') }}</th>
           <th> {{ sort_by(rows, 'Titre', 'row.title') }}</th>
            <th>Category</th>
            <th class="text-center">{{ sort_by(rows, 'Status', 'row.published') }}</th>
            <th class="text-right">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for row in rows %}
            {% set link = path(prefix ~ '_edit', {id: row.id}) %}
            <tr>
                <td class="dashboard-id">
                    <a href="{{ link }}">{{ row.id }}</a>
                </td>
                <td>
                    <a href="{{ link }}">{{ row.title }}</a>
                </td>
                <td>

                {% if row.category %}
             <a href="{{ link }}">{{ row.category.title }}</a>
                    {% endif %}
                </td>
                <td><span class="bullet {% if row.published == false %}bullet--danger{% endif %}"></span></td>
                <td>
                    <div class="dashboard-actions">
                        {% if is_granted('edit', row) %}
                            <a href="{{ link }}">{{ icon('edit') }}</a>
                        {% endif %}
                        {% if is_granted('ROLE_MANAGE') %}
                            {#                        <a href="{{ path(prefix ~ '_clone', {id: row.id}) }}">{{ icon('clone') }}</a>
#}
                        {% endif %}
                        {% if is_granted('ROLE_MANAGE') %}
                            <form action="{{ path(prefix ~ '_edit', {id: row.id}) }}" method="post" onsubmit="return confirm('Voulez vous vraiment supprimer ce contenu')">
                                <input type="hidden" name="_method" value="DELETE" />
                                <button type="submit">
                                    {{ icon('delete') }}
                                </button>
                            </form>
                        {% endif %}

                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ paginate(rows) }}
{% endblock %}

