{% extends 'admin/base.html.twig' %}

{% block body %}
    Gestion des forums

    <div class="grid"><a class="btn-big" href="{{ path('forums_forum_category_new') }}">Cree une nouvelle Categorie</a>
        <a class="btn-big" href="{{ path('forums_forum_forums_new') }}">{{ icon('add') }}Cree un Nouveau Forums</a>
    </div>
    {{ dump(forums) }}
    {% for forum in forums %}

        <section class="forum__body">
            <div class="forum__category">
                {{ forum.title }}

            </div>


        </section>



    {% endfor %}

{% endblock %}