{{ form_start(form, {attr: {class: 'stacked'}}) }}
<section class="stack-large">


    <section>
        <div class="section-title">
            Informations générales
        </div>
        <div class="grid">
    {{ form_row(form.title) }}
     {{ form_row(form.published, {row_attr: {style: 'align-self: flex-end'}}) }}
            {{ form_row(form.slug) }}
        </div>
    </section>


    <section>
        <div class="section-title">
            Description
        </div>
        <div class="grid">

        </div>
    </section>
    <section>
        <button type="submit" class="btn-gradient">Sauvegarder</button>
    </section>


{{ form_end(form) }}



</section>
