{{ form_start(form, {attr: {class: 'stacked'}}) }}
<div class="grid">
    {{ form_row(form.title) }}
    {{ form_row(form.slug) }}
    {{ form_row(form.isOnline, {row_attr: {style: 'align-self: flex-end'}}) }}

</div>
<div class="full space02">
    {{ form_row(form.shortdesc) }}
</div>
<div class="full space02">
    <button class="dashboard-btn">{{ button_label|default('Sauvegardée') }}</button>
    <a class="dashboard-btn" href="{{ path('category_index') }}">back to list</a>
</div>

{{ form_end(form) }}
