{% extends 'admin/base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <h1>Category index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>IsOnline</th>

                <th>Shortdesc</th>
                {% if is_granted('ROLE_SUPERADMIN') %}
                    <th>actions</th>
                {% endif %}

            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.title }}</td>
                <td><span class="bullet {% if category.isOnline == false %}bullet--danger{% endif %}"></span></td>

                <td>{{ category.shortdesc }}</td>
                <td>
                    {% if is_granted('ROLE_SUPERADMIN') %}
                        <a href="{{ path('category_edit', {slug: category.slug, id: category.id})  }}">{{icon('edit')}}</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('category_new') }}">Create new</a>
{% endblock %}
