{{ form_start(form) }}
<div class="grid">
    {{ form_row(form.name) }}
    {{ form_row(form.slug) }}
    {{ form_row(form.url) }}

    {{ form_row(form.modCategory) }}
    {{ form_row(form.credit) }}
    {{ form_row(form.brand) }}


</div>
<div class="grid">
    {{ form_row(form.testedby) }}
    {{ form_row(form.chevaux) }}
    {{ form_row(form.model) }}
    {{ form_row(form.price) }}
    {{ form_row(form.wheels) }}
    {{ form_row(form.chargeuravant) }}

</div>
<div class="grid">
    {{ form_row(form.option1) }}
    {{ form_row(form.option2) }}
    {{ form_row(form.option3) }}
</div>
<div class="grid">
    <div class="1">{{ form_row(form.certified) }}   {{ form_row(form.withouterrors) }}</div>
    <div class="1"> {{ form_row(form.colorrims) }}
        {{ form_row(form.colorchoice) }}
    </div>
    {{ form_row(form.support) }}
</div>
<div class="full">
    {{ form_row(form.description) }}
</div>
<button class="dashboard-btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
