{% extends 'admin/base.html.twig' %}

{% block title %}Mods index{% endblock %}

{% block body %}
    <div class="dashboard-title">
        <h2>Gestion des Mods</h2>
    </div>
    <div class="right-align">
        <form class="form-group dashboard-search">
            <input name="q" type="text" placeholder="Rechercher un mods" value="{{ app.request.get('q') }}" >
        </form>
        <a href="{{ path('mods_new') }}" class="dashboard-btn">Create new</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Certified</th>
                <th>Withouterrors</th>
                <th>Approuved</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mod in mods %}
            <tr>
                <td>{{ mod.id }}</td>
                <td>{{ mod.name }}</td>
                <td><span class="bullet {% if mod.approuved == false %}bullet--danger{% endif %}"></span></td>
                <td><span class="bullet {% if mod.certified == false %}bullet--danger{% endif %}"></span></td>
                <td><span class="bullet {% if mod.withouterrors == false %}bullet--danger{% endif %}"></span></td>

                <td>
                    <a href="{{ path('mods_show', {'id': mod.id}) }}">show</a>
                    <a href="{{ path('mods_edit', {slug: mod.slug, id: mod.id}) }}">{{ icon('edit') }}</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="18">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    {{ knp_pagination_render(mods) }}
{% endblock %}
