{% extends 'admin/base.html.twig' %}

{% block title %}Mods{% endblock %}

{% block body %}
    <h1>Mods</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mod.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ mod.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ mod.description }}</td>
            </tr>
            <tr>
                <th>Credit</th>
                <td>{{ mod.credit }}</td>
            </tr>
            <tr>
                <th>Chevaux</th>
                <td>{{ mod.chevaux }}</td>
            </tr>
            <tr>
                <th>Model</th>
                <td>{{ mod.model }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ mod.price }}</td>
            </tr>
            <tr>
                <th>Option1</th>
                <td>{{ mod.option1 }}</td>
            </tr>
            <tr>
                <th>Option2</th>
                <td>{{ mod.option2 }}</td>
            </tr>
            <tr>
                <th>Option3</th>
                <td>{{ mod.option3 }}</td>
            </tr>
            <tr>
                <th>Certified</th>
                <td>{{ mod.certified ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Withouterrors</th>
                <td>{{ mod.withouterrors ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Support</th>
                <td>{{ mod.support ? mod.support|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>Colorrims</th>
                <td>{{ mod.colorrims ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Colorchoice</th>
                <td>{{ mod.colorchoice ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Chargeuravant</th>
                <td>{{ mod.chargeuravant ? mod.chargeuravant|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>Wheels</th>
                <td>{{ mod.wheels ? mod.wheels|join(', ') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('mods_index') }}">back to list</a>

    <a href="{{ path('mods_edit', {'id': mod.id}) }}">edit</a>

    {{ include('admin/mods/_delete_form.html.twig') }}
{% endblock %}
