{{ form_start(form, {attr: {class: 'stacked'}}) }}
<section class="stack-large">
    <section>
        <div class="section-title">
            Informations générales
        </div>
        <div class="grid">
            {{ form_row(form.title) }}
    {{ form_row(form.slug) }}
    {{ form_row(form.category) }}
            {{ form_row(form.publish_at) }}
            {{ form_row(form.author) }}
            {{ form_row(form.reference) }}
        </div>
    </section>

    <section>
        <div class="section-title">
            Validation
        </div>
        <div class="grid">
            {{ form_row(form.isOk) }}
            {{ form_row(form.isOnline, {row_attr: {style: 'align-self: flex-end'}}) }}
            {{ form_row(form.upnews) }}
        </div>
    </section>


    <section>
        <div class="section-title">
            Description
        </div>
        <div class="full">
            {{ form_row(form.content, {label: false}) }}
        </div>
    </section>

    <section>
        <button type="submit" class="btn-gradient">Sauvegarder</button>
    </section>
</section>

{{ form_end(form) }}
