{{ form_start(form, {attr: {class: 'stacked'}}) }}
<div class="grid">
    {{ form_row(form.title) }}
    {{ form_row(form.slug) }}
    {{ form_row(form.category) }}
    {{ form_row(form.created_at) }}
    {{ form_row(form.publish_at) }}
    {{ form_row(form.author) }}
    {{ form_row(form.reference) }}
    <div class="grid-small">
        {{ form_row(form.isOk, {row_attr: {style: 'align-self: flex-end'}}) }}
        {{ form_row(form.isOnline, {row_attr: {style: 'align-self: flex-end'}}) }}

    </div>
    <div class="grid-small">
        {{ form_row(form.upnews) }}

    </div>
</div>
<div class="full">


    {{ form_row(form.content) }}
</div>

<div class="full">
    <button type="submit" class="btn-gradient">Sauvegarder</button>
</div>


{{ form_end(form) }}
