{% extends 'admin/layout/card.html.twig' %}

{% block title %}
    {{ icon('pen') }}
    Gestion des articles
{% endblock %}

{% block content %}


    <div class="flex">


        <form class="form-group dashboard-search">
            <input name="q" type="text" placeholder="Rechercher un article" value="{{ app.request.get('q') }}">
        </form>
        <a href="{{ path('admin_blog_new') }}" class="dashboard-btn">Ajouter un article</a>


    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Titre</th>
            <th>Public</th>
            <th>Approuvée</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for content in contents %}
            <tr>
                <td>{{ content.id }}</td>
                <td>{{ content.title }}</td>
                <td><span class="bullet {% if content.isOnline == false %}bullet--danger{% endif %}"></span></td>
                <td><span class="bullet {% if content.isOk == false %}bullet--danger{% endif %}"></span></td>
                <td>
                    <div class="dashboard-actions">

                        <a href="{{ path('admin_blog_edit', {slug: content.slug, id: content.id}) }}">{{ icon('edit') }}</a>
                        <form method="post" action="{{ path('admin_blog_delete', {'id': content.id}) }}"
                              onsubmit="return confirm('Are you sure you want to delete this item?');">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ content.id) }}">
                            <button class="btn">{{ icon('cross') }}</button>
                        </form>

                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    {{ knp_pagination_render(contents) }}

{% endblock %}
